<div *ngFor="let historia of listaHistoriaClinica">
    <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">Turno</h4>
        <p>Su presion: {{historia.Presion}}, su peso: {{historia.Peso}}.</p>
        <p>Datos dinámicos: {{historia.Clave1}}:{{historia.Valor1}}, {{historia.Clave2}}:{{historia.Valor2}}.</p>
        <p>El paciente atendido fue: <b>{{historia.Turno.PacienteEmail}}</b>, para la especialidad: <b>{{historia.Turno.Especialidad}}</b>. </p>
        <p>Reseña al respecto: <i>"{{historia.Turno.Comentario}}" </i></p>
        
        <hr>
        <p class="mb-0">Fecha de la atención: <b>{{historia.Turno.Horario}}</b></p>
      </div>
</div>