<div class="container text-center " style=" color:rgb(207, 43, 43)">
    <h1>Registro</h1>
    <div class="row" >       
        <button class ="button button1" (click)="aPacientes()"> 
            <img src="../../../assets/paciente.png" class="image" style="width: 300px; height: 300px;">  
        </button>            
    </div>
    <div class="row">     
        <button class ="button button2" (click)="aEspecialistas()"> 
            <img src="../../../assets/doctores.png" class="image" style="width: 300px; height: 300px;">
        </button>             
    </div>
</div>
