<div class="row px-3 " > 
    <label class="mb-1">
        <h6 class="mb-0 text-sm">Especialidad</h6>
    </label> 
    <input class="mb-4" type="text" [(ngModel)]='especialidad'>
    <div class="col px-3">
        <label class="mb-1">
            <h6 class="mb-0 text-sm">Imagen de la especialidad</h6>
        </label> 
        <input class="mb-4" type="file" (input)="onFileChanged($event)">
     </div>
    <button class="btn btn-success" (click)="guardarEspecialidad()">Agregar+</button>  
 </div>

