<div class="form-control" style="margin:auto">
  <!-- <form [formGroup]="formulario" (ngSubmit)="aceptar()">     
    
  </form> -->
  <div class="col-md-12 col-lg-12">
    <h4 class="mb-3">Sacar turno</h4> 
  
      <div class="row g-3">
        <app-buttons-especialistas (eventoEspecialistaSeleccionado)="pasoEspecialistaADetalle($event)" ></app-buttons-especialistas>
        
        <app-detalle-especialista  [EspecialistaAMostrar]="EspecialistaSeleccionado"  ></app-detalle-especialista>
        

        <app-lista-especialidad *ngIf="EspecialistaSeleccionado" (eventoEspecialidadSeleccionada)="pasoEspecialidadADetalle($event)"   [EspecialistaAMostrar]="EspecialistaSeleccionado" ></app-lista-especialidad>

        <app-detalle-especialidad *ngIf="EspecialidadSeleccionada.nombre!=''"  [EspecialidadAMostrar]="EspecialidadSeleccionada" >
          
        </app-detalle-especialidad>
        <app-dia-hora *ngIf="EspecialidadSeleccionada.nombre!=''" (eventoTurnoSeleccionado)="pasoTurnoADetalle($event)" [EspecialistaAMostrar]="EspecialistaSeleccionado" ></app-dia-hora>
       <app-detalle-dia-hora  [TurnoAMostrar]="TurnoSeleccionado" > </app-detalle-dia-hora>           
      </div>    
    <br>
      <button class="w-100 btn btn-primary btn-lg" type="button" (click)="aceptar()" [disabled]="TurnoSeleccionado=='' || EspecialidadSeleccionada.nombre==''" >Pedir Turno</button>
</div>
</div>
