<nav class="navbar navbar-light bg-danger sticky-top" >
    <div class="container-fluid">
      <a class="navbar-brand" >
        <img src="../../../assets/clinica.png" alt="" width="30" height="24" class="d-inline-block align-text-top">
        Clínica
      </a>
      <a class="navbar-brand" *ngIf="!isLogued" (click)="Login()">        
        Login
      </a>
      <a class="navbar-brand" *ngIf="isLogued" (click)="MiPerfil()">        
        Mi Perfil
      </a>
      <a class="navbar-brand" *ngIf="isLogued && isAdmin || isPaciente" (click)="SolicitarTurno()">        
        Solicitar Turno
      </a>
      <a class="navbar-brand" (click)="RegistroPyE()">       
        Registro
      </a>
     
        <a  appHideShowNav *ngIf="isLogued && isAdmin" class="navbar-brand" (click)="AltaUsuario()">       
            Registro Administradores
          </a>
          <a  appHideShowNav *ngIf="isLogued && isAdmin" class="navbar-brand" (click)="ListaEspecialistas()">       
            Lista Especialistas
          </a>
          <a *ngIf="isLogued" class="navbar-brand" (click)="Salir()">       
            Salir
          </a>
    </div>
  </nav>