<div class="container-fluid px-1 px-md-5 px-lg-1 px-xl-5 py-5 mx-auto">
    <div class="card card0 border-0">
        <div class="row d-flex">
            <div class="col-lg-6">
                <div class="card1 pb-5">
                    <div class="row"> <img src="../../../assets/clinica.png" class="logo"> </div>
                    <div class="row px-3 justify-content-center mt-4 mb-5 border-line"> <img src="../../../assets/doctor.png" class="image"> </div>
                    <!-- <app-alta-especialidad *ngIf="formulario.value.TipoUsuario == 'Especialista'" class="row px-3 justify-content-center mt-4 mb-5 border-line"></app-alta-especialidad> -->
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card2 card border-0 px-4 py-5">
                    <div class="row mb-4 px-3">
                        <h6 class="mb-0 mr-4 mt-2">Registro de Pacientes</h6>                      
                    </div>
                    <form [formGroup]="formulario" (ngSubmit)="aceptar()">

                            <!-- <div class="row px-3"> 
                                <label class="mb-1">
                                    <h6 class="mb-0 text-sm">Tipo de Usuario</h6>
                                </label> 
                                <select class="form-select mb-4" formControlName="TipoUsuario">
                                    <option value="" selected>Elija una opción</option>
                                    <option value="Paciente">Paciente</option>
                                    <option value="Especialista">Especialista</option>
                                </select>
                                <span class="text-danger" *ngIf="formulario.get('TipoUsuario')?.hasError('TipoUsuarioMal') && formulario.get('TipoUsuario')?.touched">Debes seleccionar una opción.</span>                                         
                            </div> -->

                            <div class="row "> 
                                <div class="col px-3">
                                    <label class="mb-1">
                                        <h6 class="mb-0 text-sm">Nombre</h6>
                                    </label> 
                                    <input class="mb-4" type="text" formControlName="Nombre">
                                    <span class="text-danger" *ngIf="formulario.get('Nombre')?.hasError('required') && formulario.get('Nombre')?.touched">El nombre es requerido.</span>
    
                                </div>
                                <div class="col px-3">
                                <label class="mb-1">
                                    <h6 class="mb-0 text-sm">Apellido</h6>
                                </label> 
                                <input class="mb-4" type="text" formControlName="Apellido">
                                <span class="text-danger" *ngIf="formulario.get('Apellido')?.hasError('required') && formulario.get('Apellido')?.touched">El apellido es requerido.</span>
                            </div>
                        </div>
                         <!-- <div class="row px-3"> 
                            
                         </div> -->
                         <div class="row "> 
                             <div class="col px-3">
                                <label class="mb-1">
                                    <h6 class="mb-0 text-sm">Edad</h6>
                                </label> 
                                <input class="mb-4" type="text" formControlName="Edad">
                                <span class="text-danger" *ngIf="formulario.get('Edad')?.hasError('min') && formulario.get('Edad')?.touched">La edad minima es 1.</span>
                                <span class="text-danger" *ngIf="formulario.get('Edad')?.hasError('required') && formulario.get('Edad')?.touched">La edad es requerida.</span>
                                <span class="text-danger" *ngIf="formulario.get('Edad')?.hasError('max') && formulario.get('Edad')?.touched">La edad máxima es 110.</span>
                             
                             </div>
                                <div class="col px-3">
                                    <label class="mb-1">
                                        <h6 class="mb-0 text-sm">DNI</h6>
                                    </label> 
                                    <input class="mb-4" type="text" formControlName="DNI">
                                    <span class="text-danger" *ngIf="formulario.get('DNI')?.hasError('min') && formulario.get('DNI')?.touched">El DNI minimo es 6.000.000.</span>
                                    <span class="text-danger" *ngIf="formulario.get('DNI')?.hasError('required') && formulario.get('DNI')?.touched">El DNI es requerido.</span>
                                    <span class="text-danger" *ngIf="formulario.get('DNI')?.hasError('max') && formulario.get('DNI')?.touched">El DNI máximo es 70.000.000</span>
                                
                                </div>
                           
                        </div>

                         <div class="row px-3" > 
                            <label class="mb-1">
                                <h6 class="mb-0 text-sm">Obra Social</h6>
                            </label> 
                            <input class="mb-4" type="text" formControlName="ObraSocial">
                            <!-- <span class="text-danger" *ngIf="formulario.get('ObraSocial')?.hasError('ObraSocialMal') && formulario.get('ObraSocial')?.touched">La obra social es requerida.</span>
                              -->
                              <span class="text-danger" *ngIf="formulario.get('ObraSocial')?.hasError('required') && formulario.get('ObraSocial')?.touched">La obra social es requerida.</span>
                       
                            </div>
                         <div class="row"> 
                             <div class="col px-3">
                                <label class="mb-1">
                                    <h6 class="mb-0 text-sm">Imagen de perfil 1</h6>
                                </label> 
                                <input class="mb-4" type="file" (input)="onFileChanged($event)" formControlName="Imagen1">
                                <span class="text-danger" *ngIf="formulario.get('Imagen1')?.hasError('required') && formulario.get('Imagen1')?.touched">La imagen es requerida.</span>
                           
                             </div>
                                <div class="col px-3" >
                                    <label class="mb-1">
                                        <h6 class="mb-0 text-sm">Imagen de perfil 2</h6>
                                    </label> 
                                    <input class="mb-4" type="file" (input)="onFileChanged2($event)" formControlName="Imagen2">
                                    <span class="text-danger" *ngIf="formulario.get('Imagen2')?.hasError('required') && formulario.get('Imagen2')?.touched">La imagen es requerida.</span>
                                   
                                </div>
                            </div>
                        <!--<app-alta-especialidad>-->
                           
                            
                         <!-- <div class="row px-3 " *ngIf="formulario.value.TipoUsuario == 'Especialista'"> 
                            <label class="mb-1">
                                <h6 class="mb-0 text-sm">Especialidad</h6>
                            </label> 
                            <select class="custom-select custom-select-lg form-control" formControlName="Especialidad">
                                <option selected value="">
                                    Seleccione
                                </option>
                                <option *ngFor="let especialidad of listaEspecialidades">
                                    {{especialidad}}
                                    </option>
                            </select>
                            <span class="text-danger" *ngIf="formulario.get('Especialidad')?.hasError('required') && formulario.get('Especialidad')?.touched">La especialidad es requerida.</span>
                           
                         </div>  -->
                           <!-- este solo si especialista -->
                        <div class="row">
                            <div class="col px-3">
                                <label class="mb-1">
                                    <h6 class="mb-0 text-sm">Dirección de Email</h6>
                                </label> 
                                <input class="mb-4" type="text" placeholder="Ingresa un email válido" formControlName="Email">
                                <span class="text-danger" *ngIf="formulario.get('Email')?.hasError('required') && formulario.get('Email')?.touched">El Email es requerido.</span> 
                                <span class="text-danger" *ngIf="formulario.get('Email')?.hasError('pattern') && formulario.get('Email')?.touched">El Email debe tener x.</span>
                            
                            </div>
                            <div class="col px-3">
                                <label class="mb-1">
                                    <h6 class="mb-0 text-sm">Contraseña</h6>
                                </label> 
                                <input type="password" placeholder="Ingresa una contraseña" formControlName="Contraseña">
                                <span class="text-danger" *ngIf="formulario.get('Contraseña')?.hasError('required') && formulario.get('Contraseña')?.touched">La contraseña es requerida.</span>
                            
                            </div>
                             </div>
                       
                             <re-captcha formControlName="reCaptcha"></re-captcha>
                        <div class="row mb-3 px-3"> <button type="submit"  [disabled]="formulario.invalid" class="btn btn-blue text-center">Registrar</button> </div>
                        <!-- <div class="row mb-4 px-3" (click)="aRegistro()"> <small class="font-weight-bold">¿No tenes una cuenta? <a class="text-danger ">Registrate</a></small> </div> -->
                    </form>
                </div>
            </div>
        </div>       
    </div>
</div>

