<div class="row">
    <div class="col-1"> 
        <app-usuarios-fav-button (eventoUsuarioSelect)="pasoUsuarioADetalle($event)"></app-usuarios-fav-button>
    </div>
    <!-- <div class="col-6">
    <app-card-turno [usuarioAMostrar]="usuarioSeleccionado" (eventoHistoriaSeleccionada)="pasoHistoriaADetalle($event)"></app-card-turno>
    </div>
    
    <div class="col-4" *ngIf="mostrar">
        <app-historia-para-mostrar [historiaAMostrar]="historiaSeleccionada"></app-historia-para-mostrar>
    </div> -->
</div>